/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
  
  h1 {
    color: #333;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background: #fff;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  
  /* Estilos para o botão de excluir */
  .delete-button {
    background-color: #ff4444;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .delete-button:hover {
    background-color: #ff0000;
  }
  
  /* Estilos para o botão de completar */
  .complete-button {
    background-color: #44c767;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .complete-button:hover {
    background-color: #2e8b57;
  }
  
  /* Estilo para tarefas completas */
  .completed {
    text-decoration: line-through;
    color: gray;
  }
  